<div class = "headerWrapper">
	<h1 class = "HeadOne" id = "header">{{ headerName }}</h1>
		<ul class = "contactList">
			<li>
				<a id = "list1" href = "/portfolio">{{ PortfolioLi }}</a>
			</li>
			<li>
				<a class = "contact" id = "list2" href = "/contact">{{ ContactLi }}</a>
			</li>
			<li>
				<a id = "list3" class = "blue" href = "/">{{ AboutLi }}</a>
			</li>
		</ul>
</div>
<section class = "UltimateContainer">
	<section class = "main" id = "sectionMain">
		<div class = "mainDivPortfolio" id = "sectionPortfolio">
			<h1 class ="PortfolioH1" id = "Portfolio">{{ PortfolioLi }}</h1>
				<div class = "PortIm1">
					<div class = "ImContainer2">
					<img id = "Pic1" src = "/assets/img/contact.jpg" alt = "animal"/>
					<h4 id = "ContactMe">{{ contactInfo }}</h4>
					</div>
				</div>
					<!-- </div> -->
				<div class = "PortIm2">
					<div class = "ImContainer">
					<img id = "Pic2" src = "/assets/img/education.jpg" alt = "animal"/>
					<h4 id = "education">{{ education }}</h4>
					</div>
				</div>
				<div class = "PortIm3">
					<div class = "ImContainer">
					<img id = "Pic3" src = "/assets/img/experience.jpg" alt = "animal"/>
					<h4 id = "experience">{{ experience }}</h4>
					</div>
				</div>
				<div class = "PortIm4">
					<div class = "ImContainer2">
					<img id = "Pic4" src = "/assets/img/project.jpg" alt = "animal"/>
					<h4 id = "projects"> {{ projects }}</h4>
					</div>
				</div>
				<div class = "PortIm5">
					<div class = "ImContainer">
					<img id = "Pic5" src = "/assets/img/skill.jpg" alt = "animal"/>
					<h4 id = "skills">{{ skills }}</h4>
					</div>
				</div>
				<div class = "PortIm6">
					<div class = "ImContainer">
					<img id = "Pic6" src = "/assets/img/hobby.jpg" alt = "animal"/>
					<h4 id = "hobby">{{ hobbies }}</h4>
					</div>
				</div>
		</div>
		<div class = "DivConnect" id = "sectionConnect">
			<h2 class = "ConnectHeader">{{ connectHeader }}</h2>
				<ol class = "ConnectList">
				<li class = "connectLI" id="connectLI1">
						<a href = "http://stackoverflow.com/users/7133511/h-lee" target="_blank">
							<img id = "stackoverflow" src = "/assets/img/5333_-_Stackoverflow-128.png" alt = "face" />
						</a>
					</li>
					<li class = "connectLI" id="connectLI2">
						<a href = "https://github.com/henhen87" target="_blank">
							<img id = "github" src = "/assets/img/github-128.png" alt = "twitt" />
						</a>
					</li>
				<li class = "connectLI" id="connectLI3">
					<a href = "https://www.linkedin.com/in/henry-lee-77170b78?trk=nav_responsive_tab_profile" target="_blank">
						<img id = "linked" src = "/assets/img/1474864458_linkedin_circle_black.png" alt = "linkedin" />
					</a>
				</li>
				</ol>
		</div>
	</section>
</section>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
  </div>

</div>